.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .wrapper {
    width: 90%;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    .floatHeader {
      width: 100%;
      height: 50px;
      display: flex;
      align-items: center;
      background: #FFF;
      position: fixed;
      top: 0;
      justify-content: center;
      border-bottom: 1px solid #eee;
      a, span {
        font-weight: normal;
        margin-right: 6%;
        margin-left: 6%;
        font-size: 14px;
        color: #7c37a6;
        width: 100%;
        display: flex;
        justify-content: center;
      }
      img {
        max-width: 100px;
        height: auto;
        margin: 0;
        padding: 0;
      }
    }
    .floatFooter {
      width: 100%;
      height: 100px;
      display: flex;
      align-items: center;
      position: fixed;
      bottom: 0;
      justify-content: center;
      background: #FFF;
      box-shadow: -5px 0px 20px rgba(0,0,0,.2);
      a, span, p {
        font-weight: normal;
        margin-right: 6%;
        margin-left: 6%;
        font-size: 14px;
        color: #7c37a6;
        width: 100%;
      }

      button {
        width: 100%;
        //width: 90%;
        height: 50px;
        border-radius: 5px;
        border: none;
        padding: 0;
        font-size: 14px;
        background: #7c37a6;
        color: #eeeeee;
        margin-bottom: 5px ;
      }

    }

    .content {
      width: 100%;
      margin-top: -30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      opacity: 0;
      animation: FadeIn ease-in-out 680ms forwards;


      .title-page {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        p {
          font-size: 14px;
          opacity: 0.5;
          text-align: center;
          margin-top: 0px;
        }
      }

      .form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
        opacity: 0;
        animation: FadeIn ease-in-out 680ms forwards;

        input, textarea {
          width: 100%;
          height: 50px;
          border: 1px solid #eee;
          border-radius: 5px;
          background: transparent;
          margin-bottom: 8px;
          font-size: 14px;
          text-align: center;
        }

        p {
          font-size: 12px;
          opacity: 0.8;
          margin-top: 35px;
          width: 100%;
          text-align: center;
          span {
            color: #7c37a6;
          }
        }
      }

    }
  }
}
