.container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-scrolling: touch;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  //.wrapper {
  //  width: 90%;
  //  height: inherit;
  //  display: flex;
  //  justify-content: center;
  //  align-items: center;
  //  flex-direction: column;
  //}

  .FeedHeader {
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #eeeeee;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    z-index: 5;
    transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 520ms!important;

    .menu {
      flex: 1;
      width: 70px;
      height: 70px;
      position: fixed;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      &:after {
        content: '';
      }

      .bars {
        display: flex;
        flex-direction: column;
        img {
          max-width: 20px;
          height: auto;
          width: 100%;
        }
      }
    }
    .menu-right {
      flex: 1;
      width: 70px;
      height: 70px;
      position: fixed;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      &:after {
        content: '';
      }

      .bars {
        display: flex;
        flex-direction: column;
        img {
          max-width: 20px;
          height: auto;
          width: 100%;
        }
      }
    }

    .logo {
      flex: 2;
      display: flex;
      img {
        max-width: 100px;
        height: auto;
        padding: 0;
        margin: 10px 0px 0px 0px;
      }
    }
    .profilename {
      font-size: 16px;
      font-weight: bold;
      color: #4A4A4A;
    }
  }

  .ProfileHeader {
    display: flex;
    flex-direction: column;
    width: 95%;
    max-width: 100%;
    margin-top: 90px;
    transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 5320ms;

    .UserDetails {
      width: 100%;
      display: flex;
      align-items: center;

      .UserPhoto {
        width: 20%;
        flex: 1;
        display: flex;


        .div {
          width: 80px;
          height: 80px;
          border-radius: 50%;
          background: #7c37a6;
          overflow: hidden;

          img {
            max-width: 100%;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }

      .UserData {
        display: flex;
        flex-direction: column;
        margin-left: 15px;
        width: 75%;

        .DataBlock {
          display: flex;
          width: 100%;
          justify-content: space-between;

          .number {
            width: 60px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            p {
              font-size: 22px;
              letter-spacing: 2px;
            }
            span {
              opacity: .5;
              font-size: 12px;
              margin-top: -8px;
            }
          }
        }
        .buttonProfile {
          width: 100%;
          display: flex;
          margin-top: 8px;
          justify-content: space-between;
          a {
            width: 80%;


            .btn-direct {
              width: 100%;
              display: flex;
              height: 40px;;
              border-radius: 5px;
              font-family: 'Poppins';
              border: 1px solid #7c37a6;
              background: transparent;
              text-align: center;
              font-size: 14px;
              display: flex;
              justify-content: center;
              align-items: center;
              color: #7c37a6;
              margin-left: 10px;
            }
          }

          .add {
            display: flex;
            width: 40px;
            height: 40px;
            background: #7C37A6;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            color: #FFF;

            img {
              width: 20px;
              height:auto;
            }
          }
        }
      }
    }

    .UserBio {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-top: 20px;

      .NameUser {
        display: flex;
        width: 100%;
        flex-direction: column;
        h1 {
          font-size: 22px;
        }
        span {
          margin-top: -10px;
          opacity: 0.5;
        }
      }

      .biograph {
        width: 100%;
        margin-top: 5px;
        p {
          font-size: 14px;
        }
      }

      .UserStories {
        width: 100%;
        display: flex;
        margin-top: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        border-top: 1px solid #eeeeee;
        border-bottom: 1px solid #eeeeee;
        .storieblock {
          width: 50px;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-right: 15px;
          .storie {
            width: 50px;
            height: 50px;
            background: #7c37a6;
            border-radius: 50%;
            overflow: hidden;

            img {
              max-width: 100%;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          p {
            text-align: center;
            margin-top: 5px;
            font-size: 12px;
          }
      }

    }
    }
  }
  .FeedProfile {
  width: 100%;
    display: flex;
    flex-direction: column;

    .pagefeed {
      width: 100%;
      display: flex;
      div {
        flex: 1;
        height: 40px;
        margin: 2px;
        display: flex;
        justify-content: center;
        align-items: center;

        .icon {
          max-width: 20px;
          height: 20px;

          img {
            max-width: 100%;
            height: 100%;
          }
        }
      }
    }

    .galleryfeed {
      width: 100%;
      display: flex;
      flex-wrap: wrap;


      div {
        display: flex;
        background: #ddd;
        margin: 1px;
        overflow: hidden;
        cursor: pointer;
        min-width: 135px;
        height: 135px;
        min-height: 135px;
        flex: 1;

        &:last-child {
          max-width: 136px;
        }

        &:hover {
          img {
            transform: scale(1.2);
          }
        }

        &:nth-child(1) {
          flex: 2;
          min-width: 203px;
          height: 200px;

        }
        &:nth-child(2) {
          flex: 2;
          min-width: 203px;
          height: 200px;

        }


        img {
          max-width: 100%;
          height: auto;
          object-fit: cover;
        }
      }
    }
  }
}
