@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  outline: none;
}

p {
  margin: 0 !important;
}

/***********************************
-----> Geral
************************************/
body {
  font-family: "Poppins", sans-serif;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1380px !important;
  }
}
/***********************************
-----> Variaveis
************************************/
/***********************************
-----> Mixins
************************************/
/***********************************
-----> Mensagens
************************************/
.mensagem_erro {
  display: none;
  width: 100%;
  padding: 10px 15px;
  color: #ED4747;
  background: rgba(237, 71, 71, 0.52);
  margin-bottom: 15px;
  border-radius: 5px;
}
.mensagem_erro p {
  font-size: 14px;
  font-family: "Poppins";
  padding: 0px;
}

/*******************************
-----> Home
************************************/
#header_home {
  width: 100%;
  height: 60vh;
  background: #DDDDDD;
}
#header_home .container {
  position: relative;
}
#header_home .container nav {
  width: 100%;
  top: 15px;
  position: absolute;
}
#header_home .container nav #mainNav {
  width: 100%;
  padding: 25px 25px;
  background: #00B0CB;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header_home .container nav #mainNav .logo img {
  max-width: 80%;
  height: auto;
}
#header_home .container nav #mainNav .searchBar {
  position: relative;
}
#header_home .container nav #mainNav .searchBar input {
  width: 180px;
  background: #FFF;
  border: none;
  padding: 15px 15px;
  border-radius: 5px;
  font-size: 14px;
  transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms;
  position: relative;
}
#header_home .container nav #mainNav .searchBar .icon_search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 51px;
  height: 51px;
  position: absolute;
  right: 0;
  top: 0;
  background: #FFC400;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #fff;
  font-size: 14px;
}
#header_home .container nav #mainNav .menuList ul {
  display: flex;
  margin: 0px;
}
#header_home .container nav #mainNav .menuList ul li {
  list-style: none;
  margin-left: 5px;
  font-size: 14px;
  position: relative;
  padding: 20px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  color: #FFF;
  cursor: pointer;
}
#header_home .container nav #mainNav .menuList ul li:before {
  content: "";
  width: 0%;
  padding: 0px 0px;
  background: #FFC400;
  position: absolute;
  z-index: -1;
  transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 250ms;
}
#header_home .container nav #mainNav .menuList ul li:hover:before {
  content: "";
  width: 100%;
  padding: 20px 10px;
  background: #FFC400;
  position: absolute;
  z-index: -1;
  border-radius: 5px;
  transform: scale(1.1);
}
#header_home .container nav #mainNav .menuList ul li:first-child {
  margin-left: 0px;
}
#header_home .container nav #mainNav .menuList ul li.contato .boxContato {
  display: none;
  width: 250px;
  height: fit-content;
  padding: 15px;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50px;
  opacity: 0;
  cursor: initial;
}
#header_home .container nav #mainNav .menuList ul li.contato:hover .boxContato {
  display: flex;
  flex-direction: column;
  opacity: 1;
}
#header_home .container nav #mainNav .menuList ul li.contato .boxContato__infos,
#header_home .container nav #mainNav .menuList ul li.contato .boxContato__detalhes {
  width: 100%;
  color: #232323;
  margin-bottom: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 15px;
}
#header_home .container nav #mainNav .menuList ul li.contato .boxContato__infos span,
#header_home .container nav #mainNav .menuList ul li.contato .boxContato__detalhes span {
  font-size: 14px;
  text-transform: initial;
  opacity: 0.5;
  margin-bottom: 10px;
}
#header_home .container nav #mainNav .menuList ul li.contato .boxContato__infos p,
#header_home .container nav #mainNav .menuList ul li.contato .boxContato__detalhes p {
  font-size: 18px;
  color: #00B0CB;
  font-weight: bold;
}
#header_home .container nav #mainNav .menuList ul li.contato .boxContato__detalhes {
  border-bottom: none;
  padding-bottom: 0px;
}
#header_home .container nav #mainNav .menuList ul li.contato .boxContato__detalhes p, #header_home .container nav #mainNav .menuList ul li.contato .boxContato__detalhes a {
  font-size: 12px;
  color: #232323;
  opacity: 0.5;
}
#header_home .container nav #mainNav .menuList ul li.contato .boxContato__detalhes p:first-child, #header_home .container nav #mainNav .menuList ul li.contato .boxContato__detalhes a:first-child {
  font-weight: bold;
  opacity: 1;
}
#header_home .container nav #mainNav .menuList ul li.contato .boxContato__social {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#header_home .container nav #mainNav .menuList ul li.contato .boxContato__social i {
  margin-bottom: 15px;
  color: #FFC400;
  width: 50px;
  height: 50px;
  border: 2px solid #FFC400;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease-in-out 200ms;
}
#header_home .container nav #mainNav .menuList ul li.contato .boxContato__social i:hover {
  border-radius: 50%;
  background: #FFC400;
  color: #fff;
}
#header_home .container nav #mainNav .menuList ul li.contato .boxContato__btn {
  width: 100%;
  color: #232323;
}
#header_home .container nav #mainNav .menuList ul li.contato .boxContato__btn button {
  width: 100%;
  padding: 15px 0px;
  background: #FFC400;
  font-weight: bold;
  text-transform: initial;
  color: #FFF;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}
#header_home .container nav #mainNav .menuList ul li.minhaConta .boxMinhaConta {
  display: none;
  width: 150px;
  height: fit-content;
  padding: 15px;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50px;
  opacity: 0;
  flex-direction: column;
}
#header_home .container nav #mainNav .menuList ul li.minhaConta .boxMinhaConta a {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  color: #232323;
  transition: ease-in-out 180ms;
}
#header_home .container nav #mainNav .menuList ul li.minhaConta .boxMinhaConta a:last-child {
  padding-bottom: 0px;
  margin-bottom: 0px;
  border-bottom: none;
}
#header_home .container nav #mainNav .menuList ul li.minhaConta .boxMinhaConta a:hover {
  font-weight: bold;
  color: #FFC400;
}
#header_home .container nav #mainNav .menuList ul li.minhaConta:hover .boxMinhaConta {
  display: flex;
  opacity: 1;
}
#header_home .container nav #secondNav {
  width: 100%;
  padding: 15px 0px;
  background: #FFC400;
  position: relative;
}
#header_home .container nav #secondNav:before {
  content: "";
  width: 50px;
  height: 50px;
  background: #cd1558;
  border-radius: 50%;
  position: absolute;
  bottom: -25px;
  left: -25px;
}

#faixa_topo {
  width: 100%;
  background: #00B0CB;
  padding: 20px 0px;
}

.produtos {
  width: 100%;
  display: flex;
}
.produtos .grid-item {
  width: 100%;
}
.produtos .grid-item::-webkit-scrollbar {
  display: none;
}
.produtos .main {
  color: grey;
  grid-area: main;
  padding: 0;
  overflow-x: scroll;
  overflow-y: hidden;
}
.produtos .main::-webkit-scrollbar {
  display: none;
}
.produtos .row {
  flex-wrap: nowrap;
}
.produtos .items {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  will-change: transform;
  flex-grow: 0;
  margin: 0;
  padding: 0;
}
.produtos .items::-webkit-scrollbar {
  display: none;
}
.produtos .items.active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}
.produtos .item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background: #F7F7F8;
  min-height: 550px;
  height: 545px;
  max-width: 300px;
  margin: 2em 0.2em;
  border-radius: 5px;
  border: none;
  white-space: normal;
}
.produtos .item:first-child {
  min-height: 550px;
  height: 545px;
  min-width: 400px;
}
.produtos .item:first-child img {
  display: flex;
  object-fit: none;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.produtos .item .foto_produto {
  width: 300px;
  height: 300px;
  margin-top: -1px !important;
  background: #939393;
  border-radius: 5px;
  position: relative;
}
.produtos .item .foto_produto img {
  max-width: 100%;
  height: auto;
}
.produtos .item .foto_produto .tag_categoria {
  position: absolute;
  top: 15px;
  left: 15px;
  background: #FFC400;
  font-size: 12px;
  padding: 5px 15px;
  border-radius: 5px;
  color: #232323;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.produtos .item .descricao_produto {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 15px;
}
.produtos .item .descricao_produto .nome_produto {
  width: 100%;
  text-align: center;
}
.produtos .item .descricao_produto .nome_produto h1 {
  font-size: 14px;
  font-family: "Poppins";
  font-weight: bold;
  text-transform: uppercase;
}
.produtos .item .descricao_produto .classificao_produto {
  width: 100%;
  justify-content: center;
  display: flex;
  margin: 10px 0px;
}
.produtos .item .descricao_produto .classificao_produto i {
  font-size: 14px;
  color: #FFC400;
  margin-left: 5px;
}
.produtos .item .descricao_produto .classificao_produto i:first-child {
  margin-left: 0px;
}
.produtos .item .descricao_produto .preco_produto {
  width: 100%;
  margin: 15px 0px;
  display: flex;
  justify-content: space-between;
}
.produtos .item .descricao_produto .preco_produto .apartir {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: right;
  height: 50px;
  border-right: 1px solid rgba(35, 35, 35, 0.17);
  padding-right: 10px;
  margin-right: 10px;
}
.produtos .item .descricao_produto .preco_produto .apartir p {
  font-size: 14px;
  color: grey;
  opacity: 0.5;
  font-weight: bold;
}
.produtos .item .descricao_produto .preco_produto .apartir p:nth-child(2) {
  margin-top: -10px;
}
.produtos .item .descricao_produto .preco_produto .por {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 50px;
}
.produtos .item .descricao_produto .preco_produto .por p {
  font-size: 24px;
  color: #FFC400;
  font-weight: bold;
}
.produtos .item .descricao_produto .preco_produto .por .parcelas {
  font-size: 14px;
  color: rgba(128, 128, 128, 0.44);
  font-weight: bold;
  margin-top: -5px;
}
.produtos .item .descricao_produto .preco_produto .por .parcelas span {
  color: #00B0CB;
}
.produtos .item .descricao_produto .btn_comprar {
  width: 100%;
  position: absolute;
  bottom: 15px;
  left: 0;
  display: flex;
  justify-content: center;
}
.produtos .item .descricao_produto .btn_comprar button {
  width: 90%;
  padding: 15px;
  background: #3DB670;
  color: #FFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: ease-in-out 300ms;
}
.produtos .item .descricao_produto .btn_comprar button:hover {
  background: #217f12;
  transform: scale(0.97);
}
.produtos .item:first-child {
  margin-left: 0;
}

.banner {
  width: 100%;
  border-radius: 5px;
  height: 450px;
  background: #e7e7e7;
  margin: 15px 0px 80px;
}

#testemonial {
  width: 100%;
  background: #F3F3F3;
  padding: 25px 0px;
  margin-top: 60px;
}
#testemonial .testemonial__logo {
  width: 100%;
  justify-content: center;
  position: relative;
  display: flex;
}
#testemonial .testemonial__logo .t-logo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #FFC400;
  position: absolute;
  border: 10px solid #FFF;
  top: -70px;
}
#testemonial .comentariosDeCompradores {
  width: 100%;
  padding: 10px 0px 50px 0px;
}
#testemonial .comentariosDeCompradores h1 {
  padding-bottom: 65px;
  font-size: 24px;
  color: #00B0CB;
  text-align: center;
  font-weight: bold;
  margin-top: 25px;
}
#testemonial .comentariosDeCompradores .levels {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
#testemonial .comentariosDeCompradores .levels:before {
  content: "<";
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  left: -80px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#testemonial .comentariosDeCompradores .levels:after {
  content: ">";
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  right: -80px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#testemonial .comentariosDeCompradores .boxComentario {
  width: 100%;
  background: #fff;
  border-radius: 5px;
}
#testemonial .comentariosDeCompradores .boxComentario .header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
#testemonial .comentariosDeCompradores .boxComentario .header .nome_cliente p {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: -5px;
}
#testemonial .comentariosDeCompradores .boxComentario .header .nome_cliente span {
  font-size: 14px;
  color: #232323;
  opacity: 0.5;
}
#testemonial .comentariosDeCompradores .boxComentario .header .classificao {
  display: flex;
}
#testemonial .comentariosDeCompradores .boxComentario .header .classificao i {
  margin-left: 5px;
  font-size: 14px;
}
#testemonial .comentariosDeCompradores .boxComentario .header .classificao i:first-child {
  margin-left: 0px;
}
#testemonial .comentariosDeCompradores .boxComentario .body {
  width: 100%;
  margin-top: 25px;
  padding: 0px 25px;
}
#testemonial .comentariosDeCompradores .boxComentario .body p {
  font-size: 14px;
}
#testemonial .comentariosDeCompradores .boxComentario .footer {
  width: 100%;
  margin-top: 25px;
  background: #00B0CB;
  padding: 15px 25px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
#testemonial .comentariosDeCompradores .boxComentario .footer .opnioesDoCliente span {
  font-size: 14px;
  text-transform: uppercase;
  color: #FFF;
  margin-bottom: 10px;
}
#testemonial .comentariosDeCompradores .boxComentario .footer .opnioesDoCliente .classificao {
  display: flex;
}
#testemonial .comentariosDeCompradores .boxComentario .footer .opnioesDoCliente .classificao i {
  margin-left: 5px;
  font-size: 12px;
  color: #FFC400;
}
#testemonial .comentariosDeCompradores .boxComentario .footer .opnioesDoCliente .classificao i:first-child {
  margin-left: 0px;
}

/*******************************
-----> Página de Login
************************************/
#custom__pagina--login {
  width: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#custom__pagina--login .custom__pagina--login--header {
  width: 100%;
  height: 100px;
  background: #00B0CB;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#custom__pagina--login .custom__pagina--login--header .custom__pagina--login--header__wrapper {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#custom__pagina--login .custom__pagina--login--header .custom__pagina--login--header__wrapper .logo {
  width: fit-content;
}
#custom__pagina--login .custom__pagina--login--header .custom__pagina--login--header__wrapper .logo h1 {
  font-size: 28px;
  color: #FFF;
  font-weight: bold;
}
#custom__pagina--login .custom__pagina--login--header .custom__pagina--login--header__wrapper span {
  font-size: 16px;
  color: #FFF;
  font-weight: bold;
}
#custom__pagina--login .custom__pagina--loginBox {
  width: 50%;
  margin: 50px auto;
}
#custom__pagina--login .custom__pagina--loginBox .custom__login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
#custom__pagina--login .custom__pagina--loginBox .custom__login .custom__login--header {
  width: 100%;
  text-align: center;
}
#custom__pagina--login .custom__pagina--loginBox .custom__login .custom__login--header h1 {
  font-weight: bold;
  font-size: 36px;
  margin: 0;
  color: #00B0CB;
}
#custom__pagina--login .custom__pagina--loginBox .custom__login .custom__login--header span {
  font-size: 16px;
  color: #232323;
  opacity: 0.5;
}
#custom__pagina--login .custom__pagina--loginBox .custom__login .custom__login--campoLogin {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
#custom__pagina--login .custom__pagina--loginBox .custom__login .custom__login--campoLogin input {
  width: 100%;
  padding: 15px 15px;
  border: 1px solid #00B0CB;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 15px;
}
#custom__pagina--login .custom__pagina--loginBox .custom__login .custom__login--campoLogin button.custom__login--btnLogar {
  width: 100%;
  padding: 15px 0px;
  border: none;
  background-color: #FFC400;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  border-radius: 5px;
}
#custom__pagina--login .custom__pagina--loginBox .custom__login .custom__login--campoLogin span {
  text-align: center;
  margin: 25px 0px;
}
#custom__pagina--login .custom__pagina--loginBox .custom__login .custom__login--campoLogin span a.custom__login--recuperar {
  position: relative;
  z-index: 1;
  cursor: pointer;
  width: fit-content;
  font-weight: bold;
  color: #00B0CB;
  text-decoration: none;
}
#custom__pagina--login .custom__pagina--loginBox .custom__login .custom__login--campoLogin span a.custom__login--recuperar:before {
  content: "";
  text-align: center;
  width: 100%;
  height: 5px;
  background: #00B0CB;
  opacity: 0.2;
  position: absolute;
  bottom: 0;
  z-index: -1;
  padding: 0px 5px;
  -webkit-transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms;
  -moz-transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms;
  -ms-transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms;
  -o-transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms;
  transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms;
}
#custom__pagina--login .custom__pagina--loginBox .custom__login .custom__login--campoLogin span a.custom__login--recuperar:hover:before {
  height: 25px;
  padding: 0px 5px;
}
#custom__pagina--login .custom__pagina--loginBox .custom__login--logarSocial {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
#custom__pagina--login .custom__pagina--loginBox .custom__login--logarSocial span {
  text-align: center;
  font-size: 16px;
  opacity: 0.5;
  margin-bottom: 25px;
}
#custom__pagina--login .custom__pagina--loginBox .custom__login--logarSocial .custom__login--logarSocial--btn {
  width: 100%;
}
#custom__pagina--login .custom__pagina--loginBox .custom__login--logarSocial .custom__login--logarSocial--btn .custom__logarFacebook, #custom__pagina--login .custom__pagina--loginBox .custom__login--logarSocial .custom__login--logarSocial--btn .custom__logarGoogle {
  width: 100%;
  background: #2C5DB1;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 0px;
  color: #FFF;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  -webkit-transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms;
  -moz-transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms;
  -ms-transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms;
  -o-transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms;
  transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms;
}
#custom__pagina--login .custom__pagina--loginBox .custom__login--logarSocial .custom__login--logarSocial--btn .custom__logarFacebook:hover, #custom__pagina--login .custom__pagina--loginBox .custom__login--logarSocial .custom__login--logarSocial--btn .custom__logarGoogle:hover {
  transform: translateY(-2px);
}
#custom__pagina--login .custom__pagina--loginBox .custom__login--logarSocial .custom__login--logarSocial--btn .custom__logarFacebook i, #custom__pagina--login .custom__pagina--loginBox .custom__login--logarSocial .custom__login--logarSocial--btn .custom__logarGoogle i {
  margin-right: 15px;
}
#custom__pagina--login .custom__pagina--loginBox .custom__login--logarSocial .custom__login--logarSocial--btn .custom__logarGoogle {
  background: #E62F2F;
}
#custom__pagina--login .custom__pagina--loginBox .custom__login--logarSocial .custom__login--logarSocial--btn .custom__login--criarConta {
  margin-top: 5%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 0px;
  color: #FFC400;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 5px;
  font-weight: bold;
  border: 2px solid #FFC400;
  background: transparent;
  transition: ease-in-out 250ms;
  cursor: pointer;
}
#custom__pagina--login .custom__pagina--loginBox .custom__login--logarSocial .custom__login--logarSocial--btn .custom__login--criarConta:hover {
  background: #FFC400;
  color: #FFF;
}

/***********************************
-----> newsletter
************************************/
#newsletter {
  background: #00B0CB;
  padding: 25px 0px;
}
#newsletter .newsletter {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#newsletter .newsletter .header_newsletter h3 {
  font-size: 28px;
  font-weight: bold;
  color: #FFF;
  margin: 0px;
}
#newsletter .newsletter .header_newsletter p {
  font-size: 12px;
  margin-top: -10px;
  color: #FFF;
}
#newsletter .newsletter .inputs_newsletter {
  display: flex;
  justify-self: flex-end;
}
#newsletter .newsletter .inputs_newsletter input, #newsletter .newsletter .inputs_newsletter button {
  padding: 15px 10px;
  border: none;
  border-radius: 5px;
  margin: 2px;
  width: 300px;
}
#newsletter .newsletter .inputs_newsletter button {
  background: #FFC400;
  padding: 15px;
  margin-left: 10px;
  width: fit-content;
  color: #fff;
  cursor: pointer;
}

/***********************************
-----> Footer
************************************/
#footer {
  width: 100%;
  background: url("img/footer.png") center center no-repeat;
}
#footer .boxFooter {
  display: flex;
  flex-direction: column;
  padding: 45px 10px 45px 0px;
}
#footer .boxFooter h3 {
  font-weight: bold;
  color: #00B0CB;
  font-size: 24px;
  margin-bottom: 15px;
}
#footer .boxFooter p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 16px;
  max-width: 500px;
}
#footer .boxFooter span {
  color: #00B0CB;
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px;
}
#footer .boxFooter strong {
  margin-top: 20px;
  font-weight: bold;
  font-size: 16px;
}
#footer .boxFooter .btn__footer {
  width: 100%;
}
#footer .boxFooter .btn__footer button {
  width: 98%;
  background: #00B0CB;
  padding: 15px;
  border-radius: 5px;
  border: none;
  margin-bottom: 5px;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
}
#footer .boxFooter .btn__footer .btn__duvidas .boxDuvidas {
  display: none;
  width: 100%;
  height: fit-content;
  padding: 5px;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50px;
  left: 0;
  opacity: 0;
  cursor: initial;
  border-radius: 5px;
  z-index: 5;
}
#footer .boxFooter .btn__footer .btn__duvidas .boxDuvidas ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: left;
  justify-content: flex-start;
}
#footer .boxFooter .btn__footer .btn__duvidas .boxDuvidas ul li {
  height: fit-content;
  font-size: 14px;
  font-weight: normal;
  margin: 0px;
  padding: 10px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  list-style: none;
  width: 100%;
  text-align: left;
  color: #232323;
}
#footer .boxFooter .btn__footer .btn__duvidas .boxDuvidas ul li:last-child {
  margin-bottom: 0px;
  padding-bottom: 10px;
  border-bottom: none;
}
#footer .boxFooter .btn__footer .btn__duvidas .boxDuvidas ul li:hover {
  background: #FFC400;
  border-bottom: 1px solid #FFC400;
  cursor: pointer;
}
#footer .boxFooter .btn__footer .btn__duvidas:active .boxDuvidas {
  display: flex;
  flex-direction: column;
  opacity: 1;
}
#footer .boxFooter .btn__footer ul {
  display: flex;
  justify-content: space-between;
}
#footer .boxFooter .btn__footer ul li {
  border: 2px solid #FFF;
  border-radius: 5px;
  width: 50px;
  height: 50px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#footer .boxFooter .btn__footer ul li:hover {
  background: #fff;
  color: #232323;
}
#footer .boxFooter .logo__footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 15px;
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer.custom__login--footer {
  width: 100%;
  height: 300px;
  background: #DDD;
  display: flex;
  align-self: flex-end;
  padding-top: 100px;
}

@media screen and (max-width: 768px) {
  .custom__pagina--loginBox {
    width: 100% !important;
  }

  .custom__logarGoogle {
    margin-top: 5px !important;
  }
}

/*# sourceMappingURL=custom_style.css.map */
