.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start; }
  .container .tooltip-lens {
    width: 100%;
    position: fixed;
    bottom: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 5; }
    .container .tooltip-lens .ballon {
      width: 50px;
      height: 50px;
      border-radius: 5px;
      background: #FFFFFF;
      background-image: url("../assets/Images/bg-toop3.svg");
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
      animation: ballong cubic-bezier(0.68, -0.55, 0.27, 1.55) 2000ms forwards; }
      .container .tooltip-lens .ballon:after {
        content: '';
        height: 20px;
        width: 20px;
        background: #FFFFFF;
        transform: rotate(45deg);
        position: absolute;
        bottom: -5px;
        opacity: 0;
        animation: ballongContentArrow cubic-bezier(0.68, -0.55, 0.27, 1.55) 2000ms forwards;
        animation-delay: 800ms; }
      .container .tooltip-lens .ballon .wrapper-content {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        animation: ballongContent cubic-bezier(0.68, -0.55, 0.27, 1.55) 2000ms forwards;
        animation-delay: 1000ms; }
        .container .tooltip-lens .ballon .wrapper-content p {
          font-family: 'nunitosemibold';
          color: #7c37a6;
          font-size: 14px;
          text-align: center;
          line-height: 18px;
          padding: 5px;
          border-radius: 5px; }
  .container .nav-bar-footer {
    width: 100%;
    height: 50px;
    box-shadow: 0px -5px 20px rgba(0, 0, 0, 0.2);
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #fff;
    z-index: 5; }
    .container .nav-bar-footer .icon {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center; }
      .container .nav-bar-footer .icon img {
        max-width: 20px;
        height: auto; }
    .container .nav-bar-footer .icon-lens img {
      transform: scale(1.4); }
  .container .FeedHeader {
    width: 100%;
    height: 70px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    z-index: 5; }
    .container .FeedHeader .menu {
      width: 70px;
      height: 70px;
      position: fixed;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center; }
      .container .FeedHeader .menu .bars {
        display: flex;
        flex-direction: column; }
        .container .FeedHeader .menu .bars .bar {
          width: 20px;
          height: 2px;
          margin: 2px;
          background: #232323; }
    .container .FeedHeader .logo img {
      max-width: 100px;
      height: auto;
      padding: 0; }
  .container .historias {
    width: 20%;
    display: none;
    z-index: 6;
    position: fixed;
    right: 0;
    background: #FFF;
    box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.2);
    animation: openHistorias cubic-bezier(0.68, -0.55, 0.27, 1.55) 280ms forwards; }
@keyframes openHistorias {
  0% {
    transform: translateX(100px); }
  100% {
    transform: translateX(0px); } }
    .container .historias .allstories {
      width: 100%;
      overflow: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      .container .historias .allstories div {
        width: 50px;
        height: 50px;
        background: pink;
        border-radius: 50%;
        margin-bottom: 10px; }
        .container .historias .allstories div:first-child {
          margin-top: 80px; }
  .container .Timeline {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    margin-top: 70px;
    transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 280ms; }
    .container .Timeline .post {
      width: 100%;
      margin-bottom: 8px; }
      .container .Timeline .post .media {
        width: 100%;
        height: 250px;
        overflow: hidden;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow-x: scroll; }
        .container .Timeline .post .media .type-of-post {
          width: 20px;
          height: 20px;
          border-radius: 5px;
          position: absolute;
          top: 10px;
          left: 10px;
          display: flex;
          justify-content: center;
          align-items: center; }
          .container .Timeline .post .media .type-of-post img {
            width: 10px;
            height: auto; }
        .container .Timeline .post .media .gallery_line {
          width: 100%;
          height: 20px;
          position: absolute;
          bottom: 0;
          display: flex;
          justify-content: center;
          overflow: hidden; }
          .container .Timeline .post .media .gallery_line div {
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background: #FFFFFF;
            margin-left: 5px; }
        .container .Timeline .post .media .overlay_video {
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.4);
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center; }
          .container .Timeline .post .media .overlay_video img {
            width: 25px;
            height: auto;
            opacity: 0.6; }
        .container .Timeline .post .media img, .container .Timeline .post .media video {
          max-width: 100%;
          height: auto;
          object-fit: cover;
          object-position: center; }
      .container .Timeline .post .author {
        display: flex;
        width: 95%;
        margin: 0 auto;
        align-items: center;
        justify-content: space-between;
        padding: 12px 0px 2px 0px; }
        .container .Timeline .post .author .user {
          flex: 1;
          display: flex;
          align-items: center; }
          .container .Timeline .post .author .user .user-photo {
            width: 30px;
            height: 30px;
            background: #DDD;
            border-radius: 50%;
            overflow: hidden; }
            .container .Timeline .post .author .user .user-photo img {
              max-width: 100%;
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center; }
          .container .Timeline .post .author .user .user-info {
            width: fit-content;
            margin-left: 10px;
            display: flex;
            flex-direction: column; }
            .container .Timeline .post .author .user .user-info h1 {
              font-size: 12px;
              font-weight: bold;
              font-family: 'Montserrat Bold'; }
            .container .Timeline .post .author .user .user-info span {
              font-size: 8px;
              font-weight: 600;
              letter-spacing: 1px;
              opacity: 0.5;
              font-family: 'Montserrat Regular'; }
        .container .Timeline .post .author .action-buttons {
          display: flex; }
          .container .Timeline .post .author .action-buttons .icon {
            width: 40px;
            display: flex;
            justify-content: center;
            align-items: center; }
            .container .Timeline .post .author .action-buttons .icon img {
              max-width: 20px;
              height: auto;
              width: 100%; }

/*# sourceMappingURL=style.css.map */
