.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;

  //.wrapper {
  //  width: 90%;
  //  height: inherit;
  //  display: flex;
  //  justify-content: center;
  //  align-items: center;
  //  flex-direction: column;
  //}

  .FeedHeader {
    width: 100%;
    height: 70px;
    box-shadow: 0px 5px 20px rgba(0,0,0,.2);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    z-index: 5;
    .menu {
      width: 70px;
      height: 70px;
      position: fixed;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      .bars {
        display: flex;
        flex-direction: column;
        .bar {
          width: 20px;
          height: 2px;
          margin: 2px;
          background: #232323;
        }
      }
    }

    .logo {
      img {
        max-width: 100px;
        height: auto;
        padding: 0;
        //margin: 10px 0px 0px 0px;
      }
    }
  }

  .historias {
    width: 20%;
    display: none;
    z-index: 6;
    position: fixed;
    right: 0;
    background: #FFF;
    box-shadow: 5px 0px 20px rgba(0,0,0,.2);
    animation: openHistorias cubic-bezier(0.68, -0.55, 0.27, 01.55) 280ms forwards;
    @keyframes openHistorias {
      0% {
        transform: translateX(100px);
      }
      100% {
        transform: translateX(0px);
      }
    }

    .allstories {
      width: 100%;
      overflow: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      div {
        width: 50px;
        height:50px;
        background: pink;
        border-radius: 50%;
        margin-bottom: 10px;
        &:first-child {
          margin-top: 80px;
        }
      }
    }
  }
  .Timeline {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    margin-top: 70px;
    transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 280ms;


    .post {
      width: 100%;
      margin-bottom: 8px;
      .media {
        width: 100%;
        max-height: 60vh;
        overflow: hidden;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow-x: scroll;

        .type-of-post {
          width: 20px;
          height: 20px;
          border-radius: 5px;
          position: absolute;
          top: 10px;
          left: 10px;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            width: 10px;
            height: auto;
          }
        }

        .gallery_line {
          width: 100%;
          height: 20px;
          position: absolute;
          bottom: 0;
          display: flex;
          justify-content: center;
          overflow: hidden;

          div {
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background: #FFFFFF;
            margin-left: 5px;
          }
        }

        .overlay_video {
          width: 100%;
          height: 100%;
          background: rgba(0,0,0,.4);
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            width: 25px;
            height: auto;
          }
        }

        img, video {
          max-width: 100%;
          height: auto;
          object-fit: cover;
          object-position: center;
        }
      }
      .author {
        display: flex;
        width: 95%;
        margin: 0 auto;
        align-items: center;
        justify-content: space-between;
        padding: 12px 0px 2px 0px;
        .user {
          flex: 1;
          display: flex;
          align-items: center;
          .user-photo {
            width: 30px;
            height: 30px;
            background: #DDD;
            border-radius: 50%;
            overflow: hidden;

            img {
              max-width: 100%;
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center;
            }
          }
          .user-info {
            width: fit-content;
            margin-left: 10px;
            display: flex;
            flex-direction: column;

            h1 {
              font-size: 16px;
              font-weight: bold;
              font-family: 'Montserrat Bold';

            }
            span {
              font-size: 8px;
              font-weight: 600;
              letter-spacing: 1px;
              opacity: 0.5;
              font-family: 'Montserrat Regular';
            }
          }
        }

        .action-buttons {
          display: flex;
          .icon {
            width: 40px;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
              max-width: 20px;
              height: auto;
              width: 100%;
            }
          }
        }
      }
    }
  }
}
